.number-turn {
  width: 180px;
  height: 180px;
  border-radius: 5px;
  background-color: #edd1eb;
  padding: 10px;
  font-size: 36px;
}

.js-score {
  font-family: Courier;
  font-size: 24px;
  color: blue;
}

.temp-cardtoremember {
  width: 200px;
  height: 200px;
  background-color: #d1ebed;
  border-radius: 10px;
  font-size: 36px;
}

.temp-cardtoadd {
  width: 200px;
  height: 200px;
  background-color: #edd3d1;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 36px;
}

.temp-correctanswer {
  width: 200px;
  height: 200px;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 36px;
}

.press-enter {
  font-family: Arial;
  font-size: 24px;
  color: gray;
}

.hidden {
  visibility: hidden;
}
