.number-turn {
  width: 200px;
  height: 200px;
  border-radius: 5px;
  background-color: #edd1eb;
  padding: 10px;
  font-size: 84px;
  text-align: center;
  vertical-align: middle;
  color: white;
  position: absolute;
  top: 15%;
  left: 50%;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.js-score {
  font-family: Courier;
  font-size: 24px;
  color: blue;
}

.temp-cardtoremember {
  width: 200px;
  height: 100px;
  background-color: #d1ebed;
  border-radius: 10px;
  font-size: 36px;
}

.temp-cardtoadd {
  width: 200px;
  height: 100px;
  background-color: #edd3d1;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 36px;
}

.temp-correctanswer {
  width: 200px;
  height: 100px;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 36px;
}

.press-enter {
  font-family: Arial;
  font-size: 24px;
  color: gray;
  display: flex;
  height: 40px;
  width: 300px;
  border: 2px solid #191970;
  background-color: #ffffff;
  border-radius: 15px;
  text-align: center;
}

.fade {
  visibility: hidden;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

#timer {
  font-family: Tahoma;
  font-size: 44px;
}

.temp-carriage-return-class {
  font-family: Arial;
  font-size: 24px;
  color: red;
  height: 100px;
  width: 100px;;
}

.landing {
  display: flex;
  height: 300px;
  width: 300px;
  border: 1px solid #000080;
  background-color: #00ffff;
  text-align: center;
  border-radius: 5px;
}

.button {
  display: flex;
  height: 40px;
  width: 125px;
  border: 2px solid #191970;
  background-color: #ffffff;
  border-radius: 15px;
  text-align: center;
}

#playgame2 {
  background-color: gray;
}
